<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}
        My Website
    {% endblock %}</title>


    {% block styles %}
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    {% endblock %}
  </head>

  <body class="body">
     <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
      <a class="navbar-brand" href="#"><img src="../static/img/logo.jpg" alt="Logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#section-startseite">Startseite</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section-praxis">Über die Praxis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section-Kontakt-anmeldung">Kontakt und Anmeldung</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Ziele">Ziele</a>
          </li>
          <li>
            <button class="btn btn-success btn-circle">Login</button>
          </li>
        </ul>
      </div>
    </nav>


     {% block content %}



     {% endblock %}


     {% block footer %}

        <div class="grid-footer-container">
          <p>Impressum</p>
          <p>Datenschutz</p>
          <p>Kontakt und Anmeldung</p>
          <p>Über die Praxis</p>
        </div>

     {% endblock %}



    {% block scripts %}

    {% endblock %}
      <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.0/dist/umd/popper.min.js" integrity="sha384-Q"></script>

  </body>
</html>




