{% extends "base.html" %}

{% block content %}

    <div class="main-container">

        <div class="mainTop" id="section-startseite">
            <img src="../static/img/upper-section-img.jpg" alt="upperImage">
        </div>

        <div class="contentText" >
            <h1>Herzlich Willkommen in der <br>Psychotherapiepraxis Konstanz</h1>
        </div>

        <img class="freedom-img" src="../static/img/freedom.jpeg" alt="freedomImage">

    </div>


    <div class="grid-container" id="flexbox-container">

      <div class="grid-item">
        <img src="../static/img/JM.jpg" alt="image">
      </div>

      <div class="grid-item">
        <p>Mein Name ist Jonas Matuschek.
            Ich bin psychologischer Psychotherapeut mit dem Vertiefungsgebiet Verhaltenstherapie.<br>
            <br>
            In der Verhaltentherapie dreht sich alles um Ihr Erleben – Ihr Denken, Ihr Fühlen und Handeln.<br>
            In Therapie werden wir am Zusammenspiel dieser Aspekte arbeiten, um Sie zum Experten für sich selbst zu machen.<br>
            <br>
            Oft ergeben sich aus Ihrer Lebensgeschichte, prägenden Erfahrungen, bedeutsamen Erlebnissen wichtige Hinweise für diesen Weg.</p>
      </div>

      <div class="grid-item-contact">
        <h4>Hier finden Sie die Praxis</h4>
        <p>Hussenstraße 9</p>
        <p>78462 Konstanz</p>
        <p>07531 891 00 86</p>

        <h4>Sprechstunde</h4>
        <p>Mo. & Do. 12:00 – 12:50</p>
        <h4>Termine nach Vereinbarung</h4>
          <a href="/download-pdf" download>Willkommenspaket herunterladen</a>

      </div>
    </div>

    <div class="diePraxis" id="section-praxis">
         <h3>Die Praxis</h3>
    </div>

    <div class="grid-praxis-container">


        <div class="grid-container-praxis-one">

            <div class="grid-item-praxis">
                <img src="../static/img/praxis/image-20222109-195703.jpeg" alt="Image 2" class="image-praxis">
            </div>

          <p>Lorem ipsum dolor o no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        </div>

        <div class="grid-container-praxis-two">

          <div class="grid-item-praxis">
            <img src="../static/img/praxis/image-20220608-153011.jpeg" alt="Image 1" class="image-praxis">
          </div>
          <p>Lorem ipsum dolor sit amet, et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        </div>

    </div>

    <div class="Kontakt-Und-Anmeldung" id="section-Kontakt-anmeldung">
         <h3>Kontakt und Anmeldung</h3>
    </div>

    <div class="grid-Kontakt-Anmeldung">

        <div class="grid-container-Kontakt-Anmeldung">

             <p>Sie erreichen mich telefonisch unter 07531/8910086 zu meinen Sprechstunden jeweils am Montag und Donnerstag zwischen 12:00-12:50 für einen Gesprächstermin.<br>
                 <br>
             Die Praxis befindet sich im 1. Stock der Hussenstraße 9 in der Konstanzer Altstadt. Sie ist mit verschiedenen Verkehrsmöglichkeiten gut zu erreichen. Der Konstanzer Hauptbahnhof ist etwa 5-10 Gehminuten entfernt. Parkplätze finden Sie auf der oberen Laube oder am Döbeleplatz. Am Fischmarkt sowie beim Karstadt sind überdachte Parkhäuser.<br>
                 <br>
             Um Ihre Behandlung optimal vorzubereiten benötige ich einige Informationen von Ihnen. Diese finden Sie im Willkommenspaket.<br>
                 <br>
             Bedauerlicherweise ist im Gebäude kein Aufzug vorhanden. Daher kann ich Menschen mit Gehbehinderungen und Rollstuhlfahrer*innen evtl. nur ein eingeschränktes oder kein Angebot machen.</p>

          <div class="grid-item-Kontakt-Anmeldung">
            <img src="../static/img/praxis/Karte-zur-Praxis-1.jpg" alt="Image 1" class="image-praxis-Kontakt">
          </div>

        </div>

    </div>

{% endblock %}
