{% extends "base.html" %}

{% block content %}

      <div class="IContainer">

          <ul class="image-container">
              <li>
                <img src="/static/img/issues/depression.jpg" class="zoomable">
                <a href="#">Depression</a>
              </li>
              <li>
                <img src="/static/img/issues/anxiety.jpg" class="zoomable">
                <a href="#">Angstzustände</a>
              </li>
              <li>
                <img src="/static/img/issues/eating-disorders.jpg" class="zoomable">
                <a href="#">Essstörung</a>
              </li>
              <li>
                <img src="/static/img/issues/mental-health.jpg" alt="image 4" class="zoomable">
                <a href="#">Mentale Gesundheit</a>
              </li>
              <li>
                <img src="/static/img/issues/relationships.jpg" class="zoomable">
                <a href="#">Beziehungen</a>
              </li>
              <li>
                <img src="/static/img/issues/self-esteem.jpg" class="zoomable">
                <a href="#">Selbstbewusstsein</a>
              </li>
              <li>
                <img src="/static/img/issues/stress.jpg" class="zoomable">
                <a href="#">Stress</a>
              </li>
              <li>
                <img src="/static/img/issues/stress.jpg" class="zoomable">
                <a href="#">Stress</a>
              </li>
          </ul>
      </div>


{% endblock %}


