{% extends "base.html" %}

{% block content %}

    <div class="main-container">

        <div class="mainTop" id="section-startseite">
            <img src="../static/img/upper-section-img.jpg" alt="upperImage">
        </div>

        <div class="contentText" >
            <h1>Herzlich Willkommen in der <br>Psychotherapiepraxis Konstanz</h1>
        </div>

        <img class="freedom-img" src="../static/img/freedom.jpeg" alt="freedomImage">

    </div>


      <div class="grid-item-aims">

          <div class="grid-item-aims-text">

              <h4>Das Ziel</h4>
                <p>
                Grundbedürfnisse leben lernen! Nach einer umfassenden Sichtung der Grundlagenpsychologie postulierte der Psychotherapieforscher und Psychologieprofesser Klaus Grawe die folgenden vier Faktoren als zentrale Säulen psychischer Gesundheit.<br>
                <br>
                Um psychische Probleme zu lösen, ist es im ersten Schritt wichtig, die eigene Wahrnehmung genauer kennenzulernen. Eine einzelne Erfahrung besteht aus verschiedenen Elementen, wie Gedanken, Gefühlen, Körpersymptomen und Verhaltensimpulsen.
          </div>

          <div class="grid-item-aims-img">

                <img src="../static/aims/Grundbeduerfnisse-1024x549.png">

          </div>

      </div>


        <div class="grid-item-aims2">

          <div class="grid-item-aims-text2">
               <p>Um psychische Probleme zu lösen, ist es im ersten Schritt wichtig, die eigene Wahrnehmung genauer kennenzulernen. Eine einzelne Erfahrung besteht aus verschiedenen Elementen, wie Gedanken, Gefühlen, Körpersymptomen und Verhaltensimpulsen.</p>
          </div>

          <div class="grid-item-aims-img2">

                <img src="../static/aims/Differenzierte-Wahrnehmung-1024x562.png">

          </div>



        </div>

        <div class="grid-item-aims3">

          <div class="grid-item-aims-text3">
               <p>Darauf aufbauend werden Kreisläufe aus Reaktionsmustern und deren Konsequenzen analysiert. Im folgenden Beispiel führen depressive Symptome dazu, dass eine freudvolle Aktivität abgesagt wird. Die Folge: Die Stimmung sackt in den roten Bereich ab.</p>
          </div>

          <div class="grid-item-aims-img3">

                <img src="../static/aims/Depressive-Spirale-1024x575.png">

          </div>


        </div>

        <div class="grid-item-aims4">


          <div class="grid-item-aims-text4">
               <p>Für die Entschlüsselung komplexer Schwierigkeiten ist der Rückgriff auf die Vergangenheit besonders hilfreich. Nach Jeffrey Young – dem Begründer der Schematherapie – können Erfahrungen aus der Kindheit Anpassungsprozesse auslösen, die uns im Erwachsenenalter hinderlich werden.</p>
          </div>

          <div class="grid-item-aims-img4">

                <img src="../static/aims/Schematherapeutisches-Modell-1024x784.png">

          </div>

        </div>



        <div class="grid-Bottom-Heading">
               <h5>Ergänzend kommen oft weitere störungsspezifische <br>Modell zum Einsatz, z.B. für</h5>
        </div>

        <div class="grid-Bottom-List">

            <ul>
              <li>Depressionen</li>
              <li>soziale Ängste</li>
              <li>generalisierte Angststörungen</li>
              <li>Zwangsstörungen (Gedanken und Handlungen)</li>
              <li>Posttraumatische Belastungsstörungen</li>
              <li>Krankheitsangststörungen</li>
              <li>Essstörungen</li>
              <li>Schlafstörungen</li>
              <li>Persönlichkeitsstörungen wie Borderline</li>
              <li>ADHS</li>
              <li>Impulskontrollstörungen wie Trichotillomanie</li>
            </ul>

        </div>

        <div class="grid-Bottom-Text">
            <p>So lernen Sie – Schritt für Schritt – sich selbst neu kennen und legen gleichzeitig die Basis für eine Veränderung des Erlebens.
            Dann gilt es kleine Wagnisse einzugehen: sich selbst freundlicher oder wohlwollender zu begegnen, sich Grenzen zuzugestehen,
            ungeprüfte Annahmen zu hinterfragen, sich weniger durch unrealistische Befürchtungen leiten zu lassen und mit neuen
            Verhaltensweisen Erfahrung sammeln. Was dies für Sie bedeuten könnte, dazu berate ich Sie gerne beim Kennenlernen.</p>
        </div>

{% endblock %}
